# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Runtime folders
uploads/

# Chroma database (optional)
# vector_db/

# OS files
.DS_Store
Thumbs.db